

.section {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.grid {
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    grid-row-gap: 16px;
    grid-column-gap: 16px;
    flex: 1;
    grid-column-gap: 5px;
    grid-row-gap: 5px;
    grid-template-rows: auto auto auto auto auto auto auto auto auto auto auto;
}

@media screen and (max-width: 479px) {
    .grid {
        grid-template-columns: 1fr;
    }
}

#one {
    align-self: stretch;
}

#two {
    justify-self: end;
}

#three {
    justify-self: end;
}

#four {
    justify-self: end;
}

#five {
    justify-self: end;
}

#six {
    justify-self: end;
}

#seven {
    justify-self: end;
}

#eight {
    justify-self: end;
}

#nine {
    justify-self: end;
}

#ten {
    justify-self: end;
}

#eleven {
    justify-self: end;
}